
#banner img {
    float: right;
    /*background: transparent url("../images/banner-250.png") no-repeat;
    height: 200px;*/
}

#header {
    border-bottom: 2px solid #ff4500 ;
}

#header h1 {
    margin: 0 0 0 20px;
}

#header form {
    margin-bottom: 2px;
}

#banner-image {
    margin: 10px 20px 10px 0;
}

.no-left-margin {
    margin-left: 0 !important;
}

#map {
    width: 465px;
    height: 450px;
}

#smallMap {
    width: 250px;
    height: 250px;
}

#project-list {
    margin-left: 24px;
    width: 300px;
}

.accordion-body {
    background-color: white;
}

.accordion-heading {
    /*color: #456e9c;*/
}

li.siteInstance {
    min-width: 150px;
}

li.siteInstance i {
    opacity: 0.5;
}

li.siteInstance i:hover {
    opacity: 1;
}

li.siteInstance a:hover {
    cursor: pointer;
}

div.metadata {
    padding-top: 15px;;
    color: grey;
    font-size: 0.9em;
}

div.under-rule {
    border-bottom: 1px solid #eeeeee ;
}

a.title-edit {
    margin-top: 15px;
}

/* grid table */
table.grid {
    width: 100%;
    border-color: #c5c5c5;
}

table.grid thead, table.grid tfoot {
    background-color: #f5f5f5;
}

/* debug */
.debug div {
    padding-bottom: 10px;;
}