/* All lines marked with /*FIXED FOOTER/ are part of the css to fix the footer to the bottom
   of the visible page. This only affects pages with short content.
*/

html {
    height: 100%; /*FIXED FOOTER*/
}

body {
    padding-top: 60px;
    padding-bottom: 90px;
    height: 100%; /*FIXED FOOTER*/
}

#fixed-footer-wrapper {  /*FIXED FOOTER*/
    min-height: 100%;
    height: auto !important; /* for IE6 */
    height: 100%;            /* for IE6 */
    margin: 0 auto -497px;
}

footer, .push {
    height: 497px; /*FIXED FOOTER*/
}

footer {
    width: 100%;
    background-color: #efefef;
}

footer img {
    max-width: inherit;
}

#buttonBar .btn {
    margin-top: 0px;
}

.strong {
    font-weight: bold;
}

.inline {
    display: inline;
}

.btn-link {
    color: #456e9c;
}

.no-link {
    cursor: default;
    color: #333;
}

.discreet {
    color: #333;
}

.title-attribute h2 {
    font-size: 25px;
    line-height: 1.5em;
    font-weight: 300;
    display: inline;
}

.title-attribute h3 {
    font-size: 21px;
    line-height: 1.3em;
    font-weight: 300;
    display: inline;
}

.title-attribute a {
    color: #333;
    font-size: 20px;
}

.title-block {
    padding-bottom: 15px;
}

#banner img {
    float: right;
    /*background: transparent url("../images/banner-250.png") no-repeat;
    height: 200px;*/
}

#header h1 {
    margin: 0 0 0 20px;
}

#header form {
    margin-bottom: 2px;
}

#banner-image {
    margin: 10px 20px 10px 0;
}

.no-left-margin {
    margin-left: 0 !important;
}

.preLabel {
    margin-right: 10px;
}

.postLabel {
    margin-left: 4px;
}

.big-tabs .active a {
    font-size: 28px;
    font-weight: bold;
}

.big-tabs a {
    font-size: 24px;
}

#map {
    width: 465px;
    height: 450px;
}

#smallMap {
    width: 250px;
    height: 250px;
}

#project-list {
    margin-left: 24px;
    width: 300px;
}

#sites-scroller {
    overflow: auto;
    height: 600px;
}

.accordion-body {
    background-color: white;
}

.accordion-heading {
    /*color: #456e9c;*/
}

li.siteInstance {
    min-width: 150px;
}

li.siteInstance i {
    opacity: 0.5;
}

li.siteInstance i:hover {
    opacity: 1;
}

li.siteInstance a:hover {
    cursor: pointer;
}

div.metadata {
    padding-top: 15px;;
    color: grey;
    font-size: 0.9em;
}

div.under-rule {
    border-bottom: 1px solid #eeeeee ;
}

a.title-btn {
    margin-top: 15px;
    margin-left: 5px;
}

/* tables */
table.dyn {
    width: 100%;
    border-color: #c5c5c5;
}

table.dyn thead, table.dyn tfoot, td.shaded {
    background-color: #f5f5f5;
}

table.dyn input[type="text"] {margin-bottom: 0}
table.dyn tfoot .value {font-weight: bold}
table.dyn thead th {text-align: center}

tr.hidden-row td {
    border: none;
    padding: 0;
}

.percent:after {
    content: "%"
}

.heavy-border {
    padding: 10px;
    margin: 0 10px;
    border: solid 2px black;
    font-weight: bold;
}

.space-after {
    margin-bottom: 10px;
}

.space-before {
    margin-top: 10px;
}

.large-space-after {
    margin-bottom: 20px;
}

.large-space-before {
    margin-top: 20px;
}

.center {text-align: center}

/* tick widgets */
td.tick {
    padding: 4px;
}

.tick-controls {
    float: right;
}

.tick-controls .btn {
    position: relative;
    width: 20px;
    height: 14px;
    top: 2px;
    padding: 0 0 4px 1px;
}

.tick-controls i[class^="icon-"] {
    margin-top: -4px;
    opacity: 0.5;
}

i[class^="icon-remove"] {
    opacity: 0.6;
    cursor: pointer;
}

i[class^="icon-remove"]:hover {
    opacity: 1;
}

.button-set a {
    margin-left: 20px;
}

.button-set a:first-child {
    margin-left: 0;
}

/* list box with filter */
.list-box {
    height:700px;
}

.list-box ul {
    list-style:none;
    margin-left:0;
}

.list-box h2 {
    display: inline;
}

.list-box .filter-label {
    position: relative;
    top: -5px;
    margin-left: 12px;
}

.scroll-list {
    height: 570px;
    overflow: auto;
    margin-right: -19px;
}

.checkbox-list {
    list-style-type: none;
    display: inline-block;
    margin-left: 0px;
}
.checkbox-list input[type=checkbox] {
    margin-bottom: 6px;
}
.checkbox-list-label.label  {
    vertical-align: top;
    margin-top: 1em;
}

/* debug */
.debug div {
    padding-bottom: 10px;;
}

#control-buttons  {
    list-style-type: none;
    list-style: none;
    margin: 0;
}

#control-buttons li {
    display: inline;
    list-style-type: none;
    list-style: none;
    margin: 0;
}

.drawButtonLabel {
    display:none;
}

#drawnArea {
    margin-top:20px;
}

.drawnAreaName {
}

.table caption {
    text-align: left;
}