
.fn-gantt .gantt-deferred {
    background-color: rgba(46, 46, 46, 0.79);
}
.fn-gantt .gantt-deferred .fn-label {
    color: #fbfbfb !important;
}

.fn-gantt .gantt-started {
    background-color: #aded7f;
}
.fn-gantt .gantt-started .fn-label {
    color: #778461 !important;
}

.fn-gantt .gantt-planned {
    background-color: #fccf86;
}
.fn-gantt .gantt-planned .fn-label {
    color: #714715 !important;
}

.fn-gantt .gantt-finished {
    background-color: #c1e3fd;
}
.fn-gantt .gantt-finished .fn-label {
    color: #414B57 !important;
}

.fn-gantt .fn-content {
    border: 1px solid #ddd;
}
