body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background: #444d58;
}

a:link,a:visited {
	color: #337ab7;
	text-decoration: none;
}

a:hover,a:active {
	color: #333;
	text-decoration: none;
}

b {
	font-weight: 600;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	line-height: 1.1;
	font-family: 'Source Sans Pro',sans-serif;
	clear: both;
}

.h1,h1 {
	font-size: 36px;
}

.h2,h2 {
	font-size: 30px;
}

.h3,h3 {
	font-size: 24px;
}

.h4,h4 {
	font-size: 18px;
}

.h5,h5 {
	font-size: 14px;
}

.h6,h6 {
	font-size: 12px;
}

.h1,.h2,.h3,h1,h2,h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.h4,.h5,.h6,h4,h5,h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}


.breadcrumb {
	font-size: 12px;
}

.page-header {
	border: none;
	padding: 40px 0 0;
	margin: 0;
}

#header .logo {
	margin: 0 0 10px;
}

#header .logo img {
	width: 276px;
	margin-bottom: 10px;
}


#header h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

form.search label:after {
	font-family: FontAwesome;
	color: #333;
	content: "\f002";
	position: absolute;
	right: 10px;
	line-height: 30px;
}

form.search input[type="text"] {
/*color: #8293a3;*/
	color: #333;
	border: 2px solid #dbe5f1;
	box-shadow: none;
	background-color: #fff;
	padding-right: 30px;
	border-radius: 4px;
	margin-left: 20px;
}


form.search input[type="text"]:focus {
	box-shadow: none;
}

form.search input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
	border: none;
	background-color: transparent;
	height: 30px;
	width: 30px;
}

#content {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: #fff;
}

.merit {
	margin-top: 0;
	float: none;
	display: inline;
}

span.merit {
	font-family: 'Oswald',sans-serif;
	font-size: 18px;
	padding-left: 20px;
	margin: 0 0 0 20px;
	border-left: 1px solid #93a4aa;
}


.navbar .nav {
	margin: 0;
}

#header.navbar .btn,#header.navbar .btn-group {
	margin-top: 20px;
}

#header.navbar .login-logout .btn {
    margin-top: 0
}

#dcNav {
	background: none;
}

#dcNav .navbar .nav>li>a {
	color: #BCC2CB;
}

#dcNav .navbar .nav > li:first-child > a {
	padding-left: 0;
}

#dcNav .navbar .nav>li>a:hover {
	color: #fff;
}

#dcNav .navbar .nav>li>a i {
	display: none;
}

#dcNav .navbar .nav > li > a.active {
	font-weight: 400;
}

#footer {
	background-image: none;
	color: #BCC2CB;
	padding-top: 50px;
	padding-bottom: 70px;
	border: none;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #BCC2CB;
}

.well {
	border: none;
	box-shadow: none;
	background-color: transparent;
	border-radius: 0;
	padding: 0;
}

#dashboard .well, .dashboard .well {
	border-radius: 4px;
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.currentFilters {
	margin: 20px 0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.currentFilters h4 {
	margin-top: 0;
}

.currentFilters ul {
	margin-bottom: 0;
}

.sorting { background: #ec971f;}

.table-bordered {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-radius: 0;
}

table tbody td {
	border-color: #ddd;
}

table tfoot td {
	border: 1px solid #ddd;
}

.table-hover tbody tr:hover > td,.table-hover tbody tr:hover > th {
	background-color: transparent;
}

table thead {
	background-color: transparent;
}

table thead th, table.table th.sorting, table.table th.sorting_asc, table.table th.sorting_desc, .table .slick-header, .table .slick-header-column {
	border-color: #ddd;
	background-color: #d9edf7;
	border: 1px solid #ddd !important;
}

.table-bordered thead:first-child tr:first-child > th:first-child,.table-bordered tbody:first-child tr:first-child > td:first-child,.table-bordered tbody:first-child tr:first-child > th:first-child {
	border-radius: 0;
}

.table-bordered thead:first-child tr:first-child > th:last-child,.table-bordered tbody:first-child tr:first-child > td:last-child,.table-bordered tbody:first-child tr:first-child > th:last-child {
	border-radius: 0;
}

table .headerSortUp,table .headerSortDown {
	background-color: transparent;
}

.table-striped tbody > tr:nth-child(2n+1) > td,.table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: #f9f9f9;
}

#reports .accordion-heading {
	background: transparent;
}


.content div.pagination span,#content div.pagination span,.content div.pagination a,#content div.pagination a {
	background-image: none;
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}

.content div.pagination span:hover,#content div.pagination span:hover,.content div.pagination a:hover,#content div.pagination a:hover,.content div.pagination span:focus,#content div.pagination span:focus,.content div.pagination a:focus,#content div.pagination a:focus {
	background-position: 0 0;
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.content div.pagination span.currentStep,#content div.pagination span.currentStep,.content div.pagination a.currentStep,#content div.pagination a.currentStep {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	background-image: none;
}





.nav-tabs li a,.nav-tabs li a:hover {
	background-color: transparent;
	font-weight: 400;
}

.nav-tabs li a:hover {
	background-color: #eee;
}

.nav-tabs > .active > a,.nav-tabs > .active > a:hover,.nav-tabs > .active > a:focus {
	background-color: #fff;
}

ul#adminNav li a {
	background-color: transparent;
}

ul#adminNav li.active a {
	background-color: #eee;
}





.btn {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	background-image: none;
	background-repeat: no-repeat;
	padding: 5px 10px;
}

.content div.pagination span.currentStep:hover,#content div.pagination span.currentStep:hover,.content div.pagination a.currentStep:hover,#content div.pagination a.currentStep:hover,.content div.pagination span.currentStep:focus,#content div.pagination span.currentStep:focus,.content div.pagination a.currentStep:focus,#content div.pagination a.currentStep:focus,.content div.pagination span.currentStep:active,#content div.pagination span.currentStep:active,.content div.pagination a.currentStep:active,#content div.pagination a.currentStep:active,.content div.pagination span.currentStep.active,#content div.pagination span.currentStep.active,.content div.pagination a.currentStep.active,#content div.pagination a.currentStep.active,.content div.pagination span.currentStep.disabled,#content div.pagination span.currentStep.disabled,.content div.pagination a.currentStep.disabled,#content div.pagination a.currentStep.disabled,.content div.pagination span.currentStep[disabled],#content div.pagination span.currentStep[disabled],.content div.pagination a.currentStep[disabled],#content div.pagination a.currentStep[disabled] {
	color: #333;
	background-color: transparent;
}

.btn-inverse {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled] {
	color: #fff;
	background-color: #286090;
	border-color: #23527c;
}

.btn-fc {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-fc:hover,.btn-fc:focus,.btn-fc:active,.btn-fc.active,.btn-fc.disabled,.btn-fc[disabled] {
	color: #fff;
	background-color: #286090;
	border-color: #23527c;
}

.btn-fc:active,.btn-fc.active {
	color: #fff;
	background-color: #286090;
	border-color: #23527c;
}

.btn-group.open .btn-fc.dropdown-toggle {
	background-color: #286090;
}

.navbar-inverse .btn-navbar {
	background-image: none;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.navbar-inverse .btn-navbar:hover,.navbar-inverse .btn-navbar:focus,.navbar-inverse .btn-navbar:active,.navbar-inverse .btn-navbar.active,.navbar-inverse .btn-navbar.disabled,.navbar-inverse .btn-navbar[disabled] {
	color: #fff;
	background-color: #286090;
	border-color: #23527c;
}


.page-header-menu .btn-warning {
	background-color: #ec971f;
	border-color: #d58512;
	color: #fff;
}

.page-header-menu .btn-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236;
	color: #fff;
}

.btnProfile i,.btnAdministration i,.btn-login i,#logout-btn i {
	display: none;
}

#dcNav .navbar-inverse .nav-collapse .navbar-form,.navbar .btn,.navbar .btn-group {
	margin-top: 0;
}

.btn-group > .btn-login {
	font-size: 14px;
}


.btn-primary {
	background-color: #44b6ae;
	border-color: #44b6ae;
	color: #fff;
}

.btn-primary:hover {
	background-color: #36918b;
	border-color: #36918b;
	color: #fff;
}

.btn-primary[disabled]:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.label-success,.badge-success {
	background-color: #006400;
}

.btn-success {
	background-color: #26c281;
	border-color: #44b6ae;
	color: #fff;
}

.btn-success:hover {
	background-color: #158f76;
	border-color: #158f76;
	color: #fff;
}
.btn-success[disabled]:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.label-info,.badge-info {
	background-color: #25aed6;
}

.btn-info {
	background-color: #25aed6;
	border-color: #269abc;
	color: #fff;
}

.btn-info:hover {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: #fff;
}

.label-warning,.badge-warning {
	background-color: #e87e04;
}

.btn-warning {
	background-color: #e87e04;
	border-color: #d58512;
	color: #fff;
}

.btn-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236;
	color: #fff;
}

.btn-warning[disabled]:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-danger {
	background-color: #f26e83;
	border-color: #ea5460;
	color: #fff;
}

.btn-danger:hover {
	background-color: #c9302c;
	border-color: #ac2925;
	color: #fff;
}

.btn-danger[disabled]:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

button#risks-cancel {
	background-color: #f26e83;
	border-color: #ea5460;
	text-shadow: none;
	color: #fff;
}

button#risks-cancel:hover {
	background-color: #c9302c;
	border-color: #ac2925;
	color: #fff;
}

.btn-link:hover,.btn-link:focus {
	text-decoration: none;
}






.modal-body,.modal-footer {
	color: #333;
}

.modal-body a {
	color: #02baf2 !important;
}

.modal-body a:hover {
	color: #333 !important;
}

.lead {
	font-weight: 400;
}

.form-actions {
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}



.banner {
	background-color: transparent;
}

.organisation-header,.project-header {
	border: none;
}


#blog-NewsandEvents h3 .floatright,#blog-ProjectStories h3 .floatright {
	padding: 3px 6px;
	font-size: 14px;
	border-radius: 3px;
	background-color: #a1afbb;
	color: #fff;
}


.greeting {
    color: #BCC2CB;
}


@media (max-width: 980px) {
    
    
#header,#content,#footer-wrapper {
	margin-left: 0;
	margin-right: 0;
	padding-left: 20px;
	padding-right: 20px;
}

#buttonBar .btnProfile {

}

.statistics .stat {
	min-height: 160px !important;
	background-image: none !important;
}

.statistics .stat-value,.statistics .stat-text {
	padding-left: 0 !important;
}

.dropdown-menu .listHeading,.navbar .dropdown-menu,#header .dropdown-menu {
	color: #fff;
}

.nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
	font-weight: 400;
}


}



@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .statistics .stat {
        min-height: 130px !important;
        background-image: none !important;
    }
}

.performance-report .title-row {
	background-color: #f5f5f5;
}
.performance-report .header th {
	white-space: normal;
}

.performance-report td.question {
	width:45%;
}
.performance-report td.meets-expectations {
	width:5%;
}
.performance-report td.evidence {
	width:45%;
}

.performance-report  textarea {
	width:100%;
	box-sizing: border-box;
	height: 5em;
}


.rating-container {
	position: relative;
}
.rating.up:after {
	font-family: FontAwesome;
	color: green;
	content: "\f062";
	position:absolute;
	right:10px;

}
.rating.down:after  {
	font-family: FontAwesome;
	color: red;
	content: "\f063";
	position:absolute;
	right:10px;

}

.comparison.match {
	background-color: yellow;
}

.model-text-value {
	white-space: pre-wrap;
}

#floating-save {
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
}
#floating-save .transparent-background {
	background-color:#000000;
	opacity: 0.2;
}
#floating-save div {
	width: 100%;
	height:30px;

	position: absolute;
	top: 0;
	left:0;
	padding-top: 5px;
	padding-bottom:5px;
	text-align:center;
}
#floating-save button {
	top:5px;
}
.table thead th.sorting, .table thead th.sorting_asc, .table thead th.sorting_desc {
	background-image: none;
	position: relative;
}

.table thead th.sorting:after {
	font-family: FontAwesome;
	content: "\f0dc";
	position: absolute;
	right: 5px;
	top: 5px;
	color: rgba(51,122,183,0.5);

}
.table thead th.sorting_asc:after {
	font-family: FontAwesome;
	font-size: large;
	content: "\f0de";
	position: absolute;
	right: 5px;
	top: 5px;
	color: #337ab7;

}
.table thead th.sorting_desc:after {
	font-family: FontAwesome;
	font-size: large;
	content: "\f0dd";
	position: absolute;
	right: 5px;
	top: 5px;
	color: #337ab7;
}

.photo-slider li{ margin: 0 4px; }
.photo-slider li a{
	display: block;
	border: 7px solid rgba(255,255,255,.1);
}

.photo-slider{
	overflow: hidden;
	position: relative;
	padding: 10px;
	background: #444d58;
	margin: 10px auto;
	width: 100%;
	box-sizing: border-box;
}
.photo-slider img {
	height: 180px;
	width:auto;
	width:auto;
}

.photo-slider p {
	padding-left:10px;
	background-color:lightgrey;
	color:black;
	margin-bottom:0px;
}