/*
*= require datatables/1.10.16/css/dataTables.bootstrap4
*= require datatables/buttons/1.5.1/css/buttons.bootstrap4
*= require select2/4.0.3/css/select2
*= require_self
*/

table td.actions, table th.actions {
    width:10%;
}
table td.dataset-name, table th.dataset-name {
    width:65%;
}
table td.report-start, table th.report-start {
    width:15%;
}
div.otherPriority {
    margin-top: 10px;
}
table td.dataset-progress, table th.dataset-progress {
    width:10em;
}
#dataCollectionOngoingDiv {
    margin-top: 10px;
}
