/*
*= require datatables.net-bs4/css/dataTables.bootstrap4.css
*= require datatables.net-buttons-dt/css/buttons.dataTables.css
*= require datatables.net-buttons-bs4/css/buttons.bootstrap4.css
*= require select2/css/select2
*= require_self
*/

table td.actions, table th.actions {
    width:10%;
}
table td.dataset-name, table th.dataset-name {
    width:65%;
}
table td.report-start, table th.report-start {
    width:15%;
}
div.otherPriority, div.other {
    margin-top: 5px;
}
table td.dataset-progress, table th.dataset-progress {
    width:10em;
}
#dataCollectionOngoingDiv {
    margin-top: 10px;
}
