/*
*= require datatables.net-bs4/css/dataTables.bootstrap4.css
*= require datatables.net-buttons-dt/css/buttons.dataTables.css
*= require datatables.net-buttons-bs4/css/buttons.bootstrap4.css
*= require select2/css/select2
*= require_self
*/

table.dataset-summary td.actions, table.dataset-summary th.actions {
    width:3em;
}
table.dataset-summary td.dataset-name, table.dataset-summary th.dataset-name {
    width:65%;
}
table.dataset-summary td.report-start, table.dataset-summary th.report-start {
    width:15%;
}

table.dataset-summary td.dataset-progress, table.dataset-summary th.dataset-progress {
    width:10em;
}

table.dataset-summary-with-dates td.actions, table.dataset-summary-with-dates th.actions {
    width:3em;
}
table.dataset-summary-with-dates td.dataset-name, table.dataset-summary-with-dates th.dataset-name {
    width:30%;
}

table.dataset-summary-with-dates td.service, table.dataset-summary-with-dates th.service {
    width:20%;
}
table.dataset-summary-with-dates td.report, table.dataset-summary-with-dates th.report {
    width:20%;
}
table.dataset-summary td.dataset-progress, table.dataset-summary th.dataset-progress {
    width:10em;
}

#dataCollectionOngoingDiv {
    margin-top: 10px;
}

div.otherPriority, div.other {
    margin-top: 5px;
}