/*
 *= require slickgrid/slick.grid.css
 *= require_self
 */
input.editor-text {box-sizing:border-box; width: 100%;}
.slick-column-name { white-space: normal; margin-right: 5px; display: block; }
.slick-header-column.ui-state-default { background: #d9edf7; height: 100%; font-weight: bold;}
.slick-header { background: #d9edf7; }
.slick-column-name a { background: 0}
.slick-sort-indicator { position: absolute; right: 5px; top: 2px; display: block; background:none; }
.slick-sort-indicator:after {
    content: '\f0dc';
    font-family: FontAwesome;
    font-style: normal;
    font-size: larger;
    left:0px;
    position:absolute;
    top:0;
    right:5px;
    color: lightgrey;
}

.slick-sort-indicator-asc:after {

    content: '\f0de';
    font-family: FontAwesome;
    font-style: normal;
    font-size: larger;
    left:0px;
    position:absolute;
    top:0;
    right:5px;
    color: #444444;
}
.slick-sort-indicator-desc:after {
    color: #444444;
    content: '\f0dd';
    font-family: FontAwesome;
    font-style: normal;
    font-size: larger;
    left:0px;
    position:absolute;
    top:0;
    right:5px;

}