#announcements th, #risks-announcements th {
    white-space: normal;
}

table tr.header th {
    border-color: #ddd;
    background-color: #d9edf7;
    border: 1px solid #ddd;
}


.meri-plan td textarea, .meri-plan td select, .announcements-table td select, .announcements-table td textarea {
    box-sizing: border-box;
    width: 100%;
}

.meri-plan td input:not([type=checkbox]), .announcements-table td input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

.meri-plan th {
    white-space: normal;
}

.meri-plan td {
    width: 100%;
}

.meri-plan .outcome-priority, .meri-plan .priority {
    width: 50%;
}
.meri-plan .outcome {
    width: 100%;
}
.meri-plan .index {
    min-width: 1em;
    width: 1em;

}

.meri-plan td.primary-outcome.priority {
    padding-right: 1em;
}

.meri-plan td.index {
    background-color: #f5f5f5;
}

.meri-plan .remove {
    min-width: 1em;
    width: 1em;
}

.meri-plan tfoot td {
    text-align: right;
}

.meri-plan .priority div {
    width: 100%;
}

.meri-plan .priority input:not([type=checkbox]) {
    width: 90%;
    height: 30px;
}

.meri-plan .keq {
    width: 35%;
}

.meri-plan .keq-monitoring {
    width: 65%;
    word-break: break-word;
}

.meri-plan .document-name {
    width: 20%;
    word-break: break-word;
}

.meri-plan .section {
    width: 20%;
    word-break: break-word;
}

.meri-plan .alignment {
    width: 60%;
    word-break: break-word;
}

.meri-plan .service {
    width: 25%
}

.meri-plan .service input {
    width: 100%;
}

.meri-plan .budget-cell {
    width: 10%;
    min-width: 4em;
}

.meri-plan .budget-cell input {
    width: 100%;
}

.meri-plan .threat {
    width: 33%;
}
.meri-plan .intervention {
    width: 67%;
    word-break: break-word;
}
.meri-plan .baseline {
    width: 33%;
}

.meri-plan .baseline-method {
    width: 67%;
    word-break: break-word;
}

.meri-plan #serviceTargetsContainer td.service {
    width: 20%;
}
.meri-plan #serviceTargetsContainer td.score {
    width: 60%;
}

.meri-plan #serviceTargetsContainer td.target {
    width: 20%;
}

.meri-plan td .select2.select2-container {
    width: 100% !important;
}

.meri-plan .risk-type {
    width: 14%;
}
.meri-plan .risk-description {
    width: 23%;
}
.meri-plan .risk-likelihood {
    width: 8%;
}
.meri-plan .risk-consequence {
    width: 8%;
}
.meri-plan .risk-rating {
    width: 8%;
}
.meri-plan .risk-control {
    width: 31%;
}
.meri-plan .residual-risk {
    width: 8%;
}
.meri-plan .risk-actions {
     width: 1em;
}

.meri-plan .original-outcomes {
    width: 54%;
}

.meri-plan .original-assets {
    width: 46%;
}

.meri-plan .partner-name {
    width: 20%;
}

.meri-plan .partnership-nature {
    width: 60%;
}

.meri-plan .partner-organisation-type {
    width: 20%;
}

.meri-plan .budget-category {
    width: 10%;
}
.meri-plan .budget-description {
    width: 30%;
}
.meri-plan .budget-amount {
    width: 10%;
    text-align: center;
}

.meri-plan #adaptive-management textarea {
    width: 100%;
    box-sizing: border-box;
}

.meri-plan .project-description textarea {
    width: 100%;
    box-sizing: border-box;
}


#project-risks-threats table {
    width:100%;
}

span.helphover {
    border: 2px;
    background-clip:content-box;
}

#meri-plan-approval-modal textarea {
    box-sizing: border-box;
    width: 100%;
}

#meri-plan-approval-modal input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

.meri-approval-history {
    width:75%;
}
.meri-approval-history td.open {
    width: 2em;
}
.meri-approval-history td.delete-approval {
    width:2em;
    color:red;
}
.meri-approval-history td.approval-date {
    width:10em;
}
.meri-approval-history td.comments {
    width:30em;
    word-break: break-word;
}
.meri-approval-history td.ref {
    width: 20em;
    word-break: break-word;
}
a.meri-history-toggle {
    color: white;
}


.announcements-table td.index {
    background-color: #f5f5f5;
}

.announcements-table .remove {
    min-width: 1em;
    width: 1em;
}

.announcements-table tfoot td {
    text-align: right;
}

.announcements-table .event {
    width: 12%;
}

.announcements-table .event-type {
    width: 18%;
}

.announcements-table .event-date {
    width: 12%;
}
.announcements-table .grant-date {
    width: 12%;
}

.announcements-table .amount {
    width: 12%;
}

.announcements-table .information {
    width:28%;
}
