/*
*= require common-bs4.css
*= require thumbnail.scroller/2.0.3/jquery.mThumbnailScroller.css
*= require fancybox/css/jquery.fancybox.css
*= require @taitems/jquery-gantt/css/style.css
*= require gantt.css
*= require meriplan.css
*= require sites.css
*= require select2/css/select2
*= require blog
*= require dataSets
*= require_self
*/
#report th, #report td {
    white-space: normal;
}
.early {
    color:green;
}
.late {
    color:red;
}

td .layout-container {
    width:100%;
    height:100%;
    position: relative;
}

td .layout-container em {
    margin-right:1.5em;
    display: block;
}

td .see-more {
    position: absolute;
    top:3px;
    right:0;
}
