/*
*= require slider-pro/css/slider-pro.css
*= require projects-by-program
*= require associated-orgs.css
*= require_self
*= require jquery-ui/1.13.2/jquery-ui
*= require jquery-ui/1.13.2/juery-ui.theme
*/

#projectList th {
    white-space: normal;
}
.admin-action {
    width:7em;
}
.smallFont {
    margin: 5px 0;
}

.w-53 {
    width: 53% !important;
}

.prePopBtn {
    padding: 0px;
}

#orgTabs li>a {
    border: solid 1px #dddddd;
}
#orgTabs li>a.active {
    border-bottom-color: transparent;
}

#userAccessForm .form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 220px;
}

.table th, .table td {
    padding: 0.50rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.tab-content #sites {
    margin-bottom: 77px;
}
#map-info{
    margin-top: 58px;
}

.organisation-text {
    margin-left: 40px;
    margin-top: 5px;
}

.orgSearch {
    height: 1.98rem;
}

.input-group input {
    margin-left: 0;
}
#dashboardType {
    width: 300px;
}
.customCard {
    border:unset;
}
.no-border {
    border-top: unset !important;
    padding: 0px !important;
    vertical-align: unset;
}

.popup-edit {
    padding: 7px;
}
.ml-6 {
    margin-left: 5.66rem !important;
}

.banner .logo {
    height: 110px;
    margin-bottom: 10px;
    float: left;
    padding-left: 0px !important;
    margin-right: 10px;
}

#selectedYear {
    width: 200px;
}

input.dateControl {
    max-width: 300px !important;
}
/** So autocomplete dropdown appears when used in a modal */
ul.ui-autocomplete {
    z-index:10000;
}

.contract-name-info.nameInUse {
    background: red;
    color: white;
}

.service {
    width: 25%
}

.service input {
    width: 100%;
}

.service-targets td.service {
    width: 30%;
}
.service-targets td.score {
    width: 40%;
}
.service-targets td.target {
    width: 10%;
}

.service-targets td.target-date {
    width:7em;
}
.service-targets-view .target-date {
    min-width:6em;
}
.service-targets td.target-date input {
    width:7em;
}

#organisation-details th {
    white-space: normal;
    word-wrap: normal;
    min-width: 7em;
}

ul.ui-menu {
    list-style: none;
}

