table#projectList th {
    white-space: normal;
}
table#projectList .projectId {
    width: 15%;
}
table#projectList .name {
    width: 30%;
}
table#projectList .startDate {
    width: 13%;
}
table#projectList .endDate {
    width: 13%;
}
table#projectList .statusCol {
    width: 14%;
}
table#projectList .cost {
    width: 15%;
}




