table#projectList th {
    white-space: normal;
}
table#projectList .projectId {
    width: 15%;
}
table#projectList .name {
    width: 30%;
}
table#projectList .startDate {
    width: 13%;
}
table#projectList .endDate {
    width: 13%;
}
table#projectList .statusCol {
    width: 14%;
}
table#projectList .cost {
    width: 15%;
}

#addSocialMedia {
    margin-left: -5px; /* offset table cell padding */
}

/** Get rid of extra padding inside tabs when dataTables is applied */
.dataTables_wrapper.container-fluid {
    padding-left:0;
    padding-right:0;
}


