td.status-count {
    padding: 5px;
    border: 8px solid #f7f7f7;
    font-weight: bold;
    font-size: 25px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

td.status-description {
    border: 8px solid #f7f7f7;
}

div.span-chart-fit {
    width: 15%;
}

div.report-section {
    background-color: #f5f5f5;
    padding: 5px;
}

.action-table {
    table-layout:fixed;
    width: 100%;
}
.action-table th {
    white-space: normal;
}
.action-table td, .action-table th {
    word-wrap: break-word;
}

.action-table .actionId { width: 6%; }
.action-table .action { width: 10%; }
.action-table .leadAgency { width: 10%; }
.action-table .status { width: 8%; }
.action-table .description { width: 24%; }
.action-table .progress { width: 28%; }
.action-table .webLink { width: 6%; }
.action-table .deliveryPartners { width: 8%; }
