td.status-count {
    padding: 5px;
    border: 8px solid #f7f7f7;
    font-weight: bold;
    font-size: 25px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

td.status-description {
    border: 8px solid #f7f7f7;
}

div.span-chart-fit {
    width: 15%;
}

div.report-section {
    background-color: #f5f5f5;
    padding: 5px;
}

.action-table {
    table-layout:fixed;
    width: 100%;
}
.action-table th {
    white-space: normal;
}
.action-table td, .action-table th {
    word-wrap: break-word;
}

.action-table .actionId { width: 4em; }
.action-table .action { width: 10%; }
.action-table .leadAgency { width: 10%; }
.action-table .status { width: 8%; }
.action-table .description { width: 20%; white-space: pre-wrap; }
.action-table .actionProgress { width: 38%; white-space: pre-wrap; }
.action-table .webLink { width: 6%; }
.action-table .deliveryPartners { width: 9%; }

.status-row { height: 60px; }
.themeActions {
    padding-top: 10px;
    page-break-after: always;
}
.theme-charts {
    page-break-after: always;
}
.small-chart {
    width:150px;
    text-align:center;
    display:inline-block;
}


tr, .chart, .chart-plus-title {
    page-break-inside: avoid;
}

.reef-report-loading {
    border: none;
    padding: 15px;
    background-color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
    opacity: .5;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.reef-report-loading img {
    width:50px;
    height:50px;
}