@media only screen and (max-width: 1024px) {
    .nav.navbar-nav li {
        margin-right:-10px
    }
    .page-header .navbar {
        padding-left: 5px;
        padding-right: 5px;
    }
    .page-header .navbar .container {
        max-width: 1024px;
    }

    .page-header-menu .container {
        max-width: 1024px;
    }
    .page-header-menu .container #dcNav .navbar {
        padding-left: 5px;
        padding-right: 5px;
    }
    #stats-holder .statistics .row .col-sm-4 {
        width: 31.623931623931625%;
        *width: 31.570740134569924%;
    }

}

@media only screen  and (max-width: 768px){

    .page-header-menu .container #dcNav .navbar {
        padding-left: 20px;
        padding-right: 20px;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .page-header-menu #dcNav .navbar .hidden-desktop {
        display: block !important;
    }

    .page-header-menu .container #dcNav .navbar #nav-items {
        max-height: 100%;
    }
    .page-header-bs4 .page-header-menu {
        height: auto;
    }
    span.merit {
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        padding-left: 5px;
        margin: 0 0 0 5px;
        border-left: 1px solid #93a4aa;
    }
}
@media only screen and (max-width: 425px) {
    .greeting {
        padding-left: 300px;
    }

}

.statHeight {
    height: 195px;
}
